<!DOCTYPE html>

<html>

<head>
    <title>About me</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel='icon' href='/img/weather.png'>

</head>

<body>
    <div class="main-contents">
{{>header}}
<p class='about'>
3 month full-stack developer in mactan, Cebu.<br>
I create anthying from Tofu to web App.<br>
</p>
<img src="/img/king.jpg" class="portrait">
<p>created by {{name}}</p>
</div>
{{>footer}}
</body>


</html>